@font-face {
  font-family: "Segoe UI Variable";
  src: url("../fonts/SegoeUI-VF.ttf") format("truetype");
}

$font_family: "Segoe UI Variable";
$caption: 12px;
$body: 14px;
$body_large: 18px;
$subtitle: 20px;
$title: 28px;
$title_large: 40px;
$display: 68px;
